# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# Raw Jupyter notebooks' code for blog posts
src/content/blog/.venv
src/content/blog/.python-version
src/content/blog/main.py 
src/content/blog/pyproject.toml
src/content/blog/uv.lock
src/content/blog/*.ipynb